name: Format Code (Beautify)

on:
  push:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    name: Format Files
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install Dependencies
        run: npm install beautify

      - name: Beautify
        run: npx beautify --write **/*.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Push changes to branch"
        uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        with:
          commit_message: "style: format files"